.row {
    display: flex;
    justify-content: space-around;
}

.col-infor-user {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.col-infor-user {
    padding-left: 50px;
}

.col-infor-user label {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.col-infor-user input {
    border: 1px solid rgb(165, 162, 162);
    width: 90%;
}

/* User end */
.col-infor-order h2 {
    margin-bottom: 20px;
    padding: 20px;
}

.col-infor-order .pay-infor {
    display: flex;
    margin-bottom: 30px;
}

.pay-infor .img {
    margin-left: 10px;
}

.pay-infor .img img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.col-infor-order .information-order {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.col-infor-order .cart-summary {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-summary p {
    font-weight: 500;
    font-size: larger;
}

.cart-summary .pay-option {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.cart-summary .pay-option .cod {
    background-image: url('../../../public/images/cod.png');
    width: 50%;
    margin-right:10px ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.cart-summary .pay-option .cod.selected {
    box-shadow: 0 0 15px rgba(47, 186, 237, 0.5);
}

.cart-summary .pay-option .vnpay {
    background-image: url('../../../public/images/vnpay.png') ;
    width: 50%;
    height: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart-summary .pay-option .vnpay.selected {
    box-shadow: 0 0 15px rgba(47, 186, 237, 0.5);
}





