
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.form_body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(75, 173, 238);
}

.handle_user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form_body .user_form {
  padding: 2rem;
}

.user_form h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.user_form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.user_form input:focus{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.user_form button{
  color: #fff;
  background-color: rgb(75, 173, 238);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 6px;
}

.user_form button:hover{
  background-color: rgb(6, 100, 162);
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  color: rgb(75, 173, 238);
  cursor: pointer;
}

.signup label:hover{
  text-decoration: underline;
}